

$base-font-size:16px;
$base-line-height:24px;

$heading-font-color: grey;
$headings-font-family:'Rokkitt', serif;
$headings-font-weight:100;

$body-font-color: #000;
$body-font-family:'Raleway', sans-serif;
$body-font-weight:400;

$headings-small-color:grey;
$text-muted:grey;
$blockquote-border-color:grey;
$blockquote-small-color:grey;


// BREAKPOINTS
$widescreen:84em;
$desktop:60em;
$tablet:48em;//768px;
$mobile:20em;//320px;

$haut-button: 2em;
